.section{
    padding-top: 10.5em;
    color: #000000;
    font-size: 1.6em;
}

.sectionTitle {
    font-size: 2.4em;
    text-align: center;
    color: #ea02ea;
}


.filterList {
    display: flex;
    list-style: none;
    margin: 1em 0
}

.location {
    height: 60vh;
    width: 100%;
    line-height: 1.8;
}


.locationFilterBtn,
.active {
    margin: 0 2em;
    padding: 1em;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    letter-spacing: 1px;
}

.locationFilterBtn:hover{
    background-color: #30D5C8;
    color: #FFF;
}

.title {
    font-family: var(--pinyon-font);
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
    color: #30D5C8;

}

.active {
    background-color: #30D5C8;
    color: #FFF;
}