.header {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
    font-family: var(--tangerine-font), sans-serif;
}

.title {
    font-size: 2.25em;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 4px;
    padding: 1em 0 0.5em;
}

.linkFirstLetter {
    font-family: var(--tangerine-font);
    font-size: 1.5em;
    font-weight: 700;
}

.nav {
    padding: 1em 0;
    max-width: 600px;
}

.navList {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.25em;
}

.navListItem {
    letter-spacing: 2px;
    padding: 0.5em;
    margin: 0 2em;
}

.active {
    text-decoration: underline;
}

.footer {
    background-color: #000000;
    background: rgb(76, 78, 76);
    background: linear-gradient(142deg, rgba(76, 78, 76, 1) 9%, rgba(29, 29, 29, 1) 39%, rgba(18, 17, 17, 1) 64%, rgba(82, 80, 80, 1) 96%);
    color: #ffffff;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textFooter {
    font-size: 0.9em;
    letter-spacing: 2px;
    line-height: 1.6;
    text-align: center;
}