.section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.splashImageContainer {
  width: 100%;
  height: 100%;
  background: rgba(191, 191, 191, 0.5);
  position: relative;
}

.splashImage {
  width: 100%;
  height: 100%;
  background: rgba(191, 191, 191, 0.5);
}

.textContainer {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
}

.textEffect {
  margin: 0 auto;

}

.text {
  font-size: 5em;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px #5f5e5e;
  text-align: center;
  padding: 0.5em;
  color: #fff;
  font-family: var(--pinyon-font);

}

@media (min-width: 900px) {
  .section {
    flex-direction: row;
    position: relative;
  }

  .textContainer {
    position: relative;
  }

  .splashImageContainer {
    width: 35%;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .splashImage{
    object-fit: cover;
  }

  .textContainer {
    width: 50%;
  }

  .text {
    font-size: 8em;
  }
}