:root {
  font-family: var(--great-vibes-font);
  font-size: 62.5%;

  --clr-light: #e8e8e8;
  --clr-dark: #1d1c50;
  --clr-dark-2: #020235;
  --clr-highlight: #dd7702;
}

@media (prefers-color-scheme: light) {


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--inter-font);
  background: url(/london20.jpg), 
  linear-gradient(159deg, rgba(255,255,255,0.65) 2%, rgba(202,202,203,0.65) 12%, rgba(219,218,221,0.65) 20%, 
  rgba(255,255,255,0.65) 29%, rgba(244,242,242,0.65) 78%, rgba(202,202,203,0.65) 89%, rgba(255,255,255,0.65) 100%);;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}
